html, body {
  scroll-behavior: smooth;
  font-family: "helvetica neue", sans-serif;
  margin: 0;
}

nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 50px;
  line-height: 50px;
  background-color: #323330;
  color: white;
  width: 100%;
  position: fixed;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 50px;
  display: none;
}

#toggle {
  display: none;
}

.topMenu {
  width: 100%;
  right: 0;
  position: fixed;
  display: flex;
  background-color: #323330;
  margin: 0;
  border-bottom: 1px solid #EAEAEB;
}

.topMenu li {
  color: white;
  text-decoration: none;
  display: block;
  padding: 15px;
}

.topMenu li:first-child {
  margin-right: auto;
}

a {
  color: white;
  background-color: #323330;
  padding: 3px;
  text-decoration: none;
}

a:link {
  color: #dedede;
}

a:visited {
  color: #e2e2e2;
}

a:hover {
  color: #a0a0a0;
}

.section1 {
  display: flex;
  height: 100vh;
  background-color: #F0DB4F;
}

.section2 {
  display: flex;
  height: 100vh;
  background-color: white;
}

.section3 {
  display: flex;
  height: 100vh;
  margin-top: 15vh;
  background-color: #e5e6ea;
  
}

#projects {
  margin: auto;
  padding: 25vh 5vh 10vh 5vh;
  }

  .projectImage {
    display: flex;
    width: 50%;
    height: 15vw;
    padding-left: 5vw;
  }

  .avatarProject {
    margin: auto;
    width: 15vw;
    height: 15vw;
  
  }
  
  .projectDescription {
    width: 50%;
    padding-right: 5vw;

  }

.centralize {
  margin: auto;
  text-align: center;
}

td {
  width: 50%;
  text-align: left;
}

#whoami {
  height: 50vh;
  padding:8vw 25vw 12vw 25vw;
  letter-spacing: 0.1rem;
}

#whoamiImg{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

#contact {
  margin: auto;
  height: 50vh;
  padding: 18vw 25vw 0 25vw;

}

.contactEmail {
  float: left;
  padding-left: 6vw;
}

.contactSocialMedia {
  float: left;
  padding-left: 10vw;

}

footer {
  background-color: #323330;
  padding: 30px;
  color: white;
}

@media only screen and (max-width: 652px) {
  html, body{
    width: 100%;
    margin: auto;
  }

  label {
    display: block;
    cursor: pointer;
  }

  .topMenu {
    text-align: center;
    width: 100%; 
    display: none;
  }

  .topMenu li {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }

  #toggle:checked + .topMenu {
    display: block;
  }

  #whoami {
    padding: 10vh 4vh 60vh 4vh;
    text-justify: auto;
  }

  .section2 {
    display: block;
    height: 180vh;
    background-color: white;
  }

  .section3 {
    display: block;
    height: 180vh;
  }

   #projects {
    display: block;
    margin: auto;
    height: 20vh;
  }

  .projectImage {
    margin: auto;
    width: 40vh;
    height: 40vh;
    padding-left: 5vw;
  }

  .avatarProject {
    margin: auto;
    width: 55vw;
    height: 55vw;
  }

  .projectDescription {
    display: block;
    margin: auto;
    
  }

}